
img {
    vertical-align: middle;
}.show-cart-1 tr td{
    vertical-align: middle;
}
body{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.fixed-top {
    background-color: #fbefee;
}
.header{
    background: white;
}
button .menu{
    color: black!important;
}
.menu i{
    transition: all 1s;
    font-size: 150%;
}

.menu i:hover {
    transform: rotate(-90deg);
}

.header-menu li{
    margin-left: 1rem!important;
}
.header-menu li a{
    font-weight: 400;
}
.head-info{
    color: rgb(71, 71, 71);
}
.head-info i{
    color: rgb(71, 71, 71);
    font-size: 100%!important;
    margin-top: 0.7rem;
}
.banner{
    margin-top: 6%;
}
.logo{
    width: 200px;
    margin-right: 5rem;
}
.logo img{
    width: 100%;
}
.search input{
    border-radius: 20px;
}
.search button{
    border-radius: 20px;
    position: absolute;
    left: 96%;
}
.search button i{
    font-size: 100%;
    width: auto;
}

.header nav ul li a{
    color: black;
    /* font-weight: 1000; */
border-bottom: 1px rgba(0, 0, 0, 0) solid;

}
.header nav ul li:hover a{
border-bottom: 1px black solid;
}

.product span{
    width: 20%;
    margin: 0 auto;
    /* margin-left: 40%; */
    transition: all 1s;
    color: rgb(0, 0, 0);

}
.product-title a{
    text-decoration: none;
    color: rgb(43, 38, 0)!important;
  }
.product span:hover{
    width: 90%;
}


.footer-3{
    background: rgb(245, 243, 243);
    padding: 1rem;
}


.footer-3 ul li{
    margin-top: 0.5rem;

}
.link-support ul li, .link-support ul li a{
    font-size: 12.5px;

}
.link-support ul li a{
    text-decoration: none;
    color: black;
}
.link-support ul li:hover a{
    color: brown;
}
.link-support .text{
    font-size: 13px;
    line-height: 1.5;
}

.info-col a , .info-col i{
    font-size: 28px;
    text-decoration: none!important;
    color: black;
}
.info-col a i{
    color: red;
}
.info-col:hover a, .info-col:hover i {
    color: rgba(3, 189, 111, 0.966);
}
.info-social i{
    font-size: 26px;
}
.info-foot{
    font-size: 14px;
    margin-top: 0.8rem;
}
.minus-item{
    /* margin-left: 2rem; */
    border-radius: 0!important;
    width: 30px;
    
}
.cart-count{
    border: 1px black solid!important;
    margin: 0 0.5px!important;
    border-radius: 0!important;
    width: 30px;
    
}
.cart i{
    color: black;
}
.thanhtoan{
    width: 100%;
}
.thanhtoan button{
    width: 95%;

}
.thanhtoan .price{
    background: rgba(180, 180, 180, 0.192);
    border-radius: 9px;
    padding: 1rem;    
}
/* .price-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;

} */
.total-1{
    font-size: 120%;
}
.total{
    font-size: 150%;
    color: red;
}
.require-cart{
    display: none;
   
  }
  .thongtins{
    display: none;
    position: fixed;
    width: 60%;
    top: 20%;
    left: 20%;
  }
  #xacnhandathang{
    display: none;
    position: fixed;
    width: 60%;
    top: 20%;
    left: 20%;
  }
.chitietsanpham{
    padding-top: 2.5rem;
}
.sanpham{
    display: flex;
}

.sanpham .hinhanh{
    width: 60%;
}
.sanpham .hinhanh img{
    width: 100%;
}
.sanpham .content{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.sanpham .content .title-name{
    display: block;
}
.sanpham .content .title-ma{
    display: block;
}
.sanpham .content .title-trangthai{
    display: block;
    margin: 0.5rem 0;
font-weight: 700;
}
.title{
    border-bottom: 1px solid rgba(75, 75, 75, 0.13);
    margin-bottom: 0.5rem;
}
.content .price{
    font-weight: 700;
    font-size: 150%;
}
.themhang{
    margin-top: 1rem;
}
.giaohang{
    display: flex;
    margin-top: 1rem;
    margin-left: 0rem;
}
.giaohang-content p{
    font-size: 80%;
    font-weight: 400;
}
.giaohang-content h4{
    font-weight: 450;
}
.giaohang-content{
    margin-left: 0.7rem;
}
.menu-top {
    margin-top: -120px;
    position: fixed;
    z-index: 9999;
  }
  .dropdown-menu {
    height: 608px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .style02 {
    height: 208px;
  }
  .dropdown-menu .dropdown-item {
      color: white;
      width: 250px;
      height: 50px;
      border-bottom: 1px solid silver;
      padding: 10px;
  }
  .dropdown-menu .dropdown-item:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .sidebar-logo img{
      max-width: 130px;
    display: block;
      padding: 10px;
      height: 70px;
  }
  .sidebar-nav {
      padding-top: 20px;
    padding-left: 30px;
  }
  .sidebar-nav .btn {
      color: white;
  }
  .sidebar-nav .btn:hover {
    color: rgb(97, 11, 11);
  }
  .sidebar-icon{
      padding-top: 25px;
  }
  .sidebar-icon i {
    padding-left: 10px;
  }







  
  .footer {
    background-color: #fbefee;;
    padding-top: 50px;
    margin-top: 10px;
  }
  .link-footer {
    list-style-type: none;
     padding-top: 5px;
  
     margin-left: -30px;
  }
  .link-footer li{
     padding-top: 10px;
     
  }
  .link-footer a {
    text-decoration: none;
    color: #000;
  }
  .link-footer a:hover {
    text-decoration: underline;
    color: #000;
  }

  .footer-contact i {
    float: left;
    font-size: 25px;
    padding: 10px;
  }
  .footer-menu p{
    padding: 20px;
  }
  .time-footer p{
    padding-top:15px ;
  }
  .d-inline {
    margin-left: -5px;
  }